@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 95%;
    --foreground: 345 14% 5%;
    --card: 0 0% 100%;
    --card-foreground: 345 14% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 345 14% 5%;
    --primary: 257 100% 59%;
    --primary-foreground: 40 33% 95%;
    --secondary: 40 33% 93%;
    --secondary-foreground: 30 7% 42%;
    --muted: 40 20% 90%;
    --muted-foreground: 30 7% 42%;
    --accent: 40 33% 90%;
    --accent-foreground: 345 14% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 82%;
    --input: 30 10% 82%;
    --ring: 257 100% 59%;
    --chart-1: 257 100% 59%;
    --chart-2: 30 7% 42%;
    --chart-3: 345 14% 5%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 345 14% 5%;
    --foreground: 40 33% 95%;
    --card: 345 14% 8%;
    --card-foreground: 40 33% 95%;
    --popover: 345 14% 8%;
    --popover-foreground: 40 33% 95%;
    --primary: 257 100% 59%;
    --primary-foreground: 40 33% 95%;
    --secondary: 345 14% 12%;
    --secondary-foreground: 40 33% 95%;
    --muted: 345 14% 12%;
    --muted-foreground: 30 7% 60%;
    --accent: 345 14% 14%;
    --accent-foreground: 40 33% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 345 14% 18%;
    --input: 345 14% 18%;
    --ring: 257 100% 59%;
    --chart-1: 257 100% 59%;
    --chart-2: 30 7% 60%;
    --chart-3: 40 33% 95%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
